{{#if model.matured}}
<table class="table table-striped table-condensed">

  <thead style="color:#000; background-color:rgba(0, 0, 0, 0.13);">
    <tr>

      <th> Высота Блока</th>
      <th>Майнер...</th>
      <th>Время Решения</th>


      <th>Удача Пула</th>
      <th>Награда</th>
    </tr>
  </thead>



  <tbody>

    {{#each model.matured as |block|}}
      {{partial "blocks/block"}}
    {{/each}}




  </tbody>
</table>
{{else}}

{{/if}}



