
<div class="alert">

<h4>Block Rewards</h4>

<strong>Normal Block</strong> 4 NILU<br/>
<strong>Uncle Block</strong> 3...<br>

<br>

<h4>Developer Resources and other</h4>

<p><strong>Website </strong><a rel="nofollow" target="_blank" href="http://nilu.tech/"> Link</a> <br/>
<strong>Exchange</strong> <a rel="nofollow" target="_blank" href="https://app.stex.com/en/basic-trade/pair/BTC/NILU/1D">Link</a><br/>
<strong>Full network stats</strong> <a rel="nofollow" target="_blank" href="http://clona.ru:94/"> Link</a><br/>
<strong>Block Explorer</strong> <a rel="nofollow" target="_blank" href="https://meta.nilu.tech/explorer"> Link</a><br/>
<strong>Official forum thread</strong><a rel="nofollow" target="_blank" href="https://bitcointalk.org/index.php?topic=3291571"> Bitcointalk</a></p>





</div>



