<div class="container">
<br>
<center>You must give all permissions to your browser, for clona.ru, that would see the news (twitter)
<br>


<iframe src="http://clona.ru/widget/twitter.html" width="100%" height="580" allowtransparency="yes" frameborder="0" marginheight="0" marginwidth="0" scrolling="auto"></iframe>


</center>


  








     
</div>
