<div class="container">
<div class="alert panel_1">
<div class="table-responsive">
<br>
<center><h4>Stats API Temporarily Down...<br>

Ошибка связи с Api, обновите страницу ...</h4>
<br>





<iframe src="https://www4.cbox.ws/box/?boxid=4314388&boxtag=zuj56c" scrolling="auto" name="I1" style="float: middle; border-radius: 12px;  height: 520px; width: 100%" id="I1" border="0" frameborder="0"></iframe>





</center>
     
</div></div></div>
