
<div class="container">
<div class="alert panel_1">
<div class="table-responsive">

 <h4> Начало работы</h4>
<h4><a rel="nofollow" target="_blank" href="https://bitcointalk.org/index.php?topic=2647654.0">PhoenixMiner</a> ниже пример запуска. Обязательно прописывайте свои реальные кошельки.</h4>
<p>PhoenixMiner.exe -pool nilu.clona.ru:4004 -wal 0xa9E4e18165B30Ff6dBa7937f3eCb7b133D4Fecd8 -pass x -worker rig1 </p><br>


<h4><a rel="nofollow" target="_blank" href="https://bitcointalk.org/index.php?topic=1433925.0">ClayMore</a> ниже пример запуска. Обязательно прописывайте свои реальные кошельки.</h4>


EthDcrMiner64 -epool stratum+tcp://nilu.clona.ru:4004 -ewal 0xa9E4e18165B30Ff6dBa7937f3eCb7b133D4Fecd8 -eworker rig-1 -epsw x -mode 1 -allpools 1 
<p>Ewal - Ваш кошелек<br/>
Eworker - Имя рига</p>
<h4>Claymore - зарекомендовал себя лучшим майнером для dagger-hashimoto, выжимает из карты все и имеет кучу настроек. 1% мощностей идет на шары разработчику, а это очень мало.</h4>
<br>


<h4><a rel="nofollow" target="_blank" href="https://github.com/ethereum-mining/ethminer/releases">Ethminer</a> ниже пример запуска. Обязательно прописывайте свои реальные кошельки.</h4>




ethminer.exe -U -P stratum1+tcp://0xa9E4e18165B30Ff6dBa7937f3eCb7b133D4Fecd8.test@nilu.clona.ru:4004
<p>-G for AMD, -U for Nvidia<br/>
test - Name Your Rig</p>

<br>

<hr>
<h4><strong>STRATUM PORTS:</strong> </h4>


<h5><strong>LD 4004 [2G]</strong> - Low Diff</h5>
<h5><strong>MD 4007 [3.5G]</strong> - Middle Diff</h5>
<h5><strong>HD 4001 [16G]</strong> - High Diff</h5>
<hr>







<br>
<h4>Поддержка аренды Gpu
<a rel="nofollow" target="_blank" href="https://www.nicehash.com/" onclick="this.href='https://www.nicehash.com?refby=21960'">NiceHash</a> и
<a rel="nofollow" target="_blank" href="https://www.miningrigrentals.com/" onclick="this.href='https://www.miningrigrentals.com/?ref=18826'">MiningRigRentals</a>
</h4>


<br>
<h4>Для Miningrigrentals</h4>
<strong>Stratum Server:</strong> nilu.clona.ru<br/>
<strong>Stratum port:</strong>   4001, 4004, 4007<br/>
<strong>User:</strong> Указываем свой кошелек <br/>
<strong>Password:</strong> x (икс) <br/>

<br/>
<br>


<h4>Для NiceHash</h4>
<strong>Stratum Server:</strong> nilu.clona.ru<br/>
<strong>Stratum port:</strong> 4001<br/>
<strong>User:</strong> Указываем свой кошелек <br/>
<strong>Password:</strong> # (решетка) 
</div>

<br>
</div></div>




